
*.save
/game/saves
/game/saves
game/saves/navigation.json
traceback.txt
log.txt
errors.txt
game/saves/persistent
game/cache/shaders.txt
/game/cache
game/*.rpyc
game/tl/english/*.rpyc
.DS_Store
game.images/character_sprites/.DS_Store